.App {
  font-family: 'Gill Sans';
  margin-bottom: 3rem;
}

p {
  font-weight: 300;
}

.section-header {
  text-align: center;
  font-family: 'Gill Sans';
  font-size: 2rem;
  font-weight: 600;
}

.banner-image {
  position: relative;
}

.banner-image img {
  width: 100%;
  height: 25rem;
  margin-bottom: 2rem;
  object-fit: cover;
  object-position: center;
  transition: 1s;
}

.banner-image img:hover {
  opacity: 0.5;
  transition: 1s;
}

#hidden-banner-text {
  position: absolute;
  font-size: 1.5rem;
  top: 12rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/********* About **********/

#about,
#skills-section,
#experience,
#education,
#projects {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#about-header p {
  /* color: #e4772d; */
  margin-bottom: 0;
}

#about-content {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  justify-content: center;
}

.about-subtitle {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
}

#about-tiles-text-container {
  text-align: center;
  margin-bottom: 2rem;
}

#some-things-i-like {
  margin-bottom: 0;
}

#flip-directions {
  margin-top: 0;
  color: rgb(213, 213, 213);
  font-size: 0.75rem;
}

#about-text {
  width: 50%;
  padding: 1rem;
}

#about-me-img {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

#about-tiles {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
  align-items: center;
}

.about-tiles-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-tile {
  margin: 0.5rem;
  /* width: 10rem;
  height: 10rem; */
  width: 30%;
  /* height: 10rem; */
  aspect-ratio: 1/1;
  text-align: center;
  perspective: 1000px;
}

.about-icon {
  /* margin-top: 0.5rem; */
  height: 80%;
  font-size: 6rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about-tile p {
  margin: 0.5rem;
}

.about-tile img {
  width: 100%;
}

/* This container is needed to position the front and back side */
.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.about-tile:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front {
  border: 1px solid #e4772d;
}

/* Position the front and back side */
.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}

/********* Skills **********/
#skills-section {
  background-color: #f7eadf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
}

#skills-bars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}

#single-skill {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.75rem;
}

.skills-name {
  margin-right: 1rem;
  width: 4.5rem;
}

.skills-bar {
  width: 20rem;
  height: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.progress-coding,
.progress-design {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 1rem;
}

.progress-coding {
  background-color: #92bda3;
}

.progress-design {
  background-color: #7a5c79;
}

.skills-type {
  text-align: center;
  font-size: 1.25rem;
}

hr {
  margin-top: 1.5rem;
  width: 80%;
  border-color: black;
  border-top: none;
}

/********* Experience **********/

#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-subtitle,
#education-title,
#project-title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 300;
}

#resume-button {
  width: 15%;
  padding: 0.5rem;
  background-color: #bfdecc;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 2rem;
}

#resume-button:hover {
  background-color: #92bda3;
}

#resume-button a {
  text-decoration: none;
  color: black;
}

.experience-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 300;
  width: 70%;
}

.company-duration,
.position-description,
.organization-duration {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.company-duration,
.organization-duration {
  width: 30%;
  text-align: left;
}

.company,
.organization {
  font-size: 1.25rem;
  font-weight: 400;
}

.position-description {
  width: 70%;
}

.position {
  font-size: 1.1rem;
  font-weight: 400;
}

.description-bullet {
  padding-top: 0.5rem;
}

/********* Education **********/

#education {
  background-color: #f7eadf;
  margin-top: 3rem;
  padding: 2rem;
  font-weight: 300;
}

#education-list {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.education-item {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.education-info {
  width: 75%;
}

.school-logo {
  width: 25%;
}

.school-logo img {
  width: 30%;
  margin-left: 50%;
}

.education-dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.school {
  font-weight: 400;
}

#description-gpa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/********* Contact **********/

#contact {
  margin-top: 5rem;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#contact-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-title {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

#contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#contact-logos img {
  width: 2rem;
  margin-right: 1rem;
}

#email a {
  color: #92bda3;
  text-decoration: none;
}

#email a:hover {
  color: black;
}

/***** Projects *****/
#projects {
  text-align: center;
}

#project-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#project-title {
  margin-bottom: 0.5rem;
}

#project-directions {
  margin-top: 0;
  color: rgb(213, 213, 213);
  font-size: 0.75rem;
}

.project {
  width: 30%;
  text-align: center;
  position: relative;
}

.project-image {
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: white;
}

.project img:hover {
  opacity: 0.1;
}

.project-description {
  width: 80%;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
