@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

.App {
  font-family: 'Gill Sans';
}

p {
  font-weight: 300;
}

.section-header {
  text-align: center;
  font-family: 'Gill Sans';
  font-size: 2rem;
  font-weight: 600;
}

.banner-image {
  position: relative;
}

.banner-image img {
  width: 100%;
  height: 25rem;
  margin-bottom: 2rem;
  object-fit: cover;
  object-position: center;
  transition: 1s;
}

.banner-image img:hover {
  opacity: 0.5;
  transition: 1s;
}

#hidden-banner-text {
  position: absolute;
  font-size: 1.5rem;
  top: 12rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/********* About **********/

#about,
#skills-section,
#experience,
#education,
#projects {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#about-header p {
  /* color: #e4772d; */
  margin-bottom: 0;
}

#about-content {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  justify-content: center;
}

.about-subtitle {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
}

#about-tiles-text-container {
  text-align: center;
  margin-bottom: 2rem;
}

#some-things-i-like {
  margin-bottom: 0;
}

#flip-directions {
  margin-top: 0;
  color: rgb(213, 213, 213);
  font-size: 0.75rem;
}

#about-text {
  width: 50%;
  padding: 1rem;
}

#about-me-img {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

#about-tiles {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
  align-items: center;
}

.about-tiles-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-tile {
  margin: 0.5rem;
  width: 30%;
  aspect-ratio: 1/1;
  text-align: center;
  perspective: 1000px;
}

.about-icon {
  height: 80%;
  font-size: 6rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about-tile p {
  margin-top: 0.25rem;
  width: 100%;
  text-align: center;
}

.about-tile img {
  width: 100%;
}

/* This container is needed to position the front and back side */
.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.about-tile:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front {
  border: 1px solid #e4772d;
}

/* Position the front and back side */
.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}

/********* Skills **********/
#skills-section {
  background-color: #f7eadf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
}

#skills-bars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}

#single-skill {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.75rem;
}

.skills-name {
  margin-right: 1rem;
  width: 4.5rem;
}

.skills-bar {
  width: 20rem;
  height: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.progress-coding,
.progress-design {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 1rem;
}

.progress-coding {
  background-color: #92bda3;
}

.progress-design {
  background-color: #7a5c79;
}

.skills-type {
  text-align: center;
  font-size: 1.25rem;
}

hr {
  margin-top: 1.5rem;
  width: 80%;
  border-color: black;
  border-top: none;
}

/********* Experience **********/

#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-subtitle,
#education-title,
#project-title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 300;
}

#resume-button {
  width: 15%;
  padding: 0.5rem;
  background-color: #bfdecc;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 2rem;
}

#resume-button:hover {
  background-color: #92bda3;
}

#resume-button a {
  text-decoration: none;
  color: black;
}

.experience-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 300;
  width: 70%;
}

.company-duration,
.position-description,
.organization-duration {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.company-duration,
.organization-duration {
  width: 30%;
  text-align: left;
}

.company,
.organization {
  font-size: 1.25rem;
  font-weight: 400;
}

.position-description {
  width: 70%;
}

.position {
  font-size: 1.1rem;
  font-weight: 400;
}

.description-bullet {
  padding-top: 0.5rem;
}

/********* Education **********/

#education {
  background-color: #f7eadf;
  margin-top: 3rem;
  padding: 2rem;
  font-weight: 300;
}

#education-list {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.education-item {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.education-info {
  width: 75%;
}

.school-logo {
  width: 25%;
}

.school-logo img {
  width: 30%;
  margin-left: 50%;
}

.education-dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.school {
  font-weight: 400;
}

#description-gpa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/********* Contact **********/
#contact {
  margin-top: 5rem;
  background-color: #f7eadf;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: 'Gill Sans';
}

#contact-main {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#contact-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-title {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

#contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#contact-logos img {
  width: 2rem;
  margin-right: 1rem;
}

#email a {
  color: #92bda3;
  text-decoration: none;
}

#email a:hover {
  color: black;
}

/***** Projects *****/
#projects {
  text-align: center;
}

#project-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#project-title {
  margin-bottom: 0.5rem;
}

#project-directions {
  margin-top: 0;
  color: rgb(213, 213, 213);
  font-size: 0.75rem;
}

.project {
  width: 30%;
  text-align: center;
  position: relative;
}

.project-image {
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: white;
}

.project img:hover {
  opacity: 0.1;
}

.project-description {
  width: 80%;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/***** Single Projects ******/
.go-back-top {
  width: 100%;
  background-color: #f7eadf;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: 'Gill Sans';
}

.go-back-top a {
  color: #92bda3;
  text-decoration: none;
}

.go-back-top a:hover {
  color: black;
}

.go-back-bottom {
  width: 10%;
  margin-left: 45%;
  margin-bottom: 5rem;
}
.go-back-bottom button {
  font-family: 'Gill Sans';
  font-size: 1rem;
  background-color: #7a5c79;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 7px;
  box-shadow: none;
  border: 1px solid #7a5c79;
  color: white;
}

.go-back-bottom button:hover {
  background-color: #ae8dad;
}

#tnw-techstack ul,
#tnw-responsibilities ul,
#mitw-responsibilities ul,
#mitw-techstack ul,
#amr-techstack ul,
#amr-responsibilities ul {
  list-style-type: '-  ';
  font-weight: 300;
  padding-left: 1.5rem;
}

#tnw-techstack li,
#tnw-responsibilities li,
#mitw-responsibilities li,
#mitw-techstack li,
#amr-responsibilities li,
#amr-techstack li {
  margin-bottom: 0.25rem;
}

/*** Taste Not Waste ***/
#taste-not-waste,
#meet-in-the-middle {
  width: 80%;
  margin: 0% 10% 5% 10%;
  font-family: 'Gill Sans';
}

#tnw-name-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#tnw-logo {
  width: 30%;
}

#tnw-name h1 {
  font-family: 'Kalam';
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

#tnw-subheader {
  display: flex;
  flex-direction: column;
}

#tnw-subheader a,
#mitw-subheader a {
  color: black;
  text-decoration: none;
  font-style: italic;
  font-weight: 350;
  margin: 0.25rem;
}

#tnw-subheader a:hover,
#mitw-subheader a:hover {
  color: #92bda3;
}

.project-page-description {
  width: 80%;
  margin-left: 10%;
}

#tnw-gif-techstack-responsibilities {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#tnw-gif img {
  width: 300px;
}

#tnw-techstack,
#tnw-responsibilities {
  margin-left: 5rem;
}

#tnw-techstack p,
#tnw-responsibilities p {
  font-weight: 400;
  font-size: 1rem;
}

#tnw-video {
  text-align: center;
  margin-top: 2rem;
}

/**** Meet in the Middle ****/
#meet-in-the-middle,
#autonomous-mobile-robots {
  min-height: 80vh;
  position: relative;
}

#mitw-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mitw-name h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

#meet-in-the-middle .project-page-description a {
  color: black;
  font-style: italic;
  font-weight: 350;
  text-decoration: none;
}

#meet-in-the-middle .project-page-description a:hover {
  color: #92bda3;
}

#mitw-techstack-responsibilities,
#amr-techstack-responsibilities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}

#mitw-techstack-responsibilities p,
#amr-techstack-responsibilities p {
  font-weight: 400;
}

#mitw-responsibilities,
#amr-responsibilities {
  width: 60%;
  margin-right: 3rem;
}

#mitw-video {
  margin-bottom: 3rem;
  text-align: center;
  margin-top: 3rem;
}

/**** Autonomous Mobile Robots ****/
#amr-name h1 {
  font-family: 'Courier New';
  text-align: center;
  margin-top: 2rem;
}

#amr-report {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

#amr-report-caption {
  font-size: 0.75rem;
  color: rgb(213, 213, 213);
}

/***** MOBILE STYLING *****/

@media only screen and (max-width: 800px) {
  .banner-image img {
    width: 100%;
    height: 15rem;
    margin-bottom: 2rem;
    object-fit: cover;
    object-position: center;
    transition: 1s;
  }

  #hidden-banner-text {
    display: none;
  }

  /*** ABOUT ***/
  #about {
    width: 100%;
  }
  #about-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .about-subtitle {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  #about-text {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
  }

  #about-me-img {
    width: 100%;
    margin: 0;
  }

  #flip-directions {
    display: none;
  }

  #about-tiles {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
    align-items: center;
  }

  .about-tiles-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .about-tile {
    margin: 0.5rem;
    width: 125px;
    height: 125px;
    text-align: center;
    perspective: 1000px;
  }

  .about-icon {
    height: 80%;
    font-size: 6rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .about-tile p {
    margin-top: 0.25rem;
    width: 100%;
    text-align: center;
  }

  .about-tile img {
    width: 100%;
  }

  /*** SKILLS ***/

  #skills-bars {
    display: flex;
    flex-direction: column;
  }

  #single-skill {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .skills-name {
    margin-right: 0.75rem;
  }

  .skills-bar {
    width: 250px;
    height: 1rem;
    border: 1px solid black;
    border-radius: 5px;
  }

  .progress-coding,
  .progress-design {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 1rem;
  }

  .progress-coding {
    background-color: #92bda3;
  }

  .progress-design {
    background-color: #7a5c79;
  }

  .skills-type {
    text-align: center;
    font-size: 1.25rem;
  }

  hr {
    margin-top: 1.5rem;
    width: 80%;
    border-color: black;
    border-top: none;
  }

  /*** PROJECTS ***/
  #projects {
    width: 90%;
    margin-left: 5%;
  }
  #project-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
  }
  .project-image {
    width: 250px;
  }
  .project-description {
    display: none;
  }

  #project-title {
    margin-bottom: 0.5rem;
  }

  .project {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 1.5rem;
  }

  /*** EDUCATION ***/

  #education {
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
  }

  #education-list {
    width: 100%;
    margin-left: 0;
  }

  .education-item {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .education-info {
    width: 90%;
    margin-left: 5%;
  }

  .school-logo {
    display: none;
  }

  .education-dates {
    display: flex;
    flex-direction: column;
  }

  #description-gpa {
    display: flex;
    flex-direction: column-reverse;
  }
  #gpa {
    margin-bottom: 0.25rem;
  }

  /********* Experience **********/
  #experience {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .experience-subtitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #resume-button {
    width: 30%;
  }

  .experience-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    width: 100%;
    margin-bottom: 1.25rem;
  }

  .company-duration,
  .position-description,
  .organization-duration {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }

  .company-duration,
  .organization-duration {
    width: 90%;
    text-align: left;
  }

  .position-description {
    width: 90%;
  }

  .position {
    font-size: 1rem;
  }

  .description-bullet {
    padding-top: 0.5rem;
    font-size: 0.85rem;
  }
}
